<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>我来说说</h1>
<article>
    <h2><a href="#"><%= @post_article.title %> - <%= @post_article.category %> - </a></h2>
    <div class="row">
        <div class="group1 col-sm-6 col-md-6">
          <span class="glyphicon glyphicon-camera"></span><a href="#">图片</a>
          <span class="glyphicon glyphicon-flag"></span> <a href="#">位置</a>
          <span class="glyphicon glyphicon-tags"></span><%= @post_article.keywords %>
        </div>
        <div class="group2 col-sm-6 col-md-6">
          <span class="glyphicon glyphicon-pencil"></span><a href="#">?条 评论</a>
          <span class="glyphicon glyphicon-time"></span><%= @post_article.created_at %>
        </div>
    </div>
    <hr>
    <%= image_tag("900x300.gif", class: "img-responsive", alt: @post_article.image) %>
    <br />
    <p class="lead"><%= truncate(sanitize(@post_article.notes), length: 200) %></p>
    <p class="text-right">
      <a href="#" class="text-right">
        阅读...
      </a>
    </p>
    <hr>
</article>
<ul class="pager"> 
  <li class="previous">
    <%= link_to '← 上一条', previous_post_article_path(@post_article) %>
  </li> 
  <li class="next">
    <%= link_to '下一条 →', next_post_article_path(@post_article) %>
  </li> 
</ul>
