<!DOCTYPE html>
<html  lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Rejoice Blog">
  <meta name="author" content="Rejoice">
  <title>此时此地</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">         
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">此时此地</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="搜索">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
          </form>
            
          <ul class="nav navbar-nav">
              <li class="active"><a href="#">主页</a></li>
              <li><a href="#">联系</a></li>
              <li><a href="#">关于</a></li>
          </ul>
        </nav>
      </div>
    </header>
 
    <div id="body" class="container"> 
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4">
          <!-- Subscribe to my feed widget -->
          <div class="well text-center">
              <p class="lead">
                  不想错过更新？点击订阅!
              </p>
              <button class="btn btn-primary btn-lg">订阅</button>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>最近发布</h4>
            </div>
              <ul class="list-group">
                <li class="list-group-item"><a href="#">1. Todo 1</a></li>
                <li class="list-group-item"><a href="#">2. Todo 2</a></li>
                <li class="list-group-item"><a href="#">3. Todo 3</a></li>
              </ul>
          </div>
 
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>分类</h4>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><a href="#">category1</a></li>
              <li class="list-group-item"><a href="#">category2</a></li>
              <li class="list-group-item"><a href="#">category3</a></li>
              <li class="list-group-item"><a href="#">category4</a></li>
            </ul>
          </div>
           
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>最近评论</h4>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><a href="#">bala ... - <em>Mary</em></a></li>
              <li class="list-group-item"><a href="#">bala bala ... - <em>Mary</em></a></li>
              <li class="list-group-item"><a href="#">bala bala bala ... - <em>Mary</em></a></li>
            </ul>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>标签</h4>
            </div>
            <div class="panel-body">
              <ul class="list-inline">
                <li><a href="#">key1</a></li>
                <li><a href="#">key2</a></li>
                <li><a href="#">key3</a></li>
                <li><a href="#">key4</a></li>
                <li><a href="#">key5</a></li>
                <li><a href="#">key6</a></li>
                <li><a href="#">key7</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
 
    <footer>
      <div class="container">
        <hr />
        <p class="text-right">Copyright © Rejoice 2015. All rights reserved.</p>
      </div>
    </footer>

</body>
</html>
